@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: "Poppins", sans-serif;
    background-color: #ece9f0;
}
main {
    display: block;
}
ul {
    list-style: none;
}
a {
    color: unset;
    text-decoration: none;
}
.container {
    position: relative;
    display: inline-block;
    width: 100%;
}
* {
    z-index: 2;
}

//Mixins
@import "components/mixins";
// Colors
@import "components/colors";
//Buttons
@import "components/button";
//Discussion
@import "components/discussion";
// Utilities
@import "components/utility";

$sidebar-width: 15rem;
$categorybar-width: 13.5rem;

nav {
    // Sidebar
    &.sidebar {
        background-color: #ffff;
        height: 100vh;
        width: $sidebar-width;
        padding: 1rem;
        position: fixed;

        .sidebar-header {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 1rem;
            padding: 0.2rem;
            margin-bottom: 1rem;

            > img {
                position: absolute;
                top: -10rem;
                left: -3.85rem;
                width: 100%;
                transform: scale(2);
                z-index: 0;
                user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }

            .logo {
                @include flex-column;
                align-items: center;
                justify-content: center;
                margin-top: 1.25rem;

                h1 {
                    letter-spacing: 0.15rem;
                    font-weight: 700;
                    font-size: 1.35rem;
                    color: $primary;
                }

                img {
                    width: 3rem;
                }
            }
            button i {
                display: block;
                margin: 0.25rem 0;
                font-size: 1.25rem;
            }
        }

        .sidebar-body,
        .sidebar-footer {
            margin-top: 2rem;
            width: 100%;

            ul.nav {
                @include flex-column;
                gap: 0.8rem;
                width: 100%;
                padding: 0.7rem;

                p.nav-title {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 0.85rem;
                    color: $primary-400;
                }

                li.nav-item {
                    cursor: pointer;
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    gap: 1.25rem;
                    color: $secondary;
                    position: relative;

                    &:not(.active)::after {
                        content: "";
                        position: absolute;
                        opacity: 0;
                        -webkit-transition: ease-out 0.5s;
                        -moz-transition: ease-out 0.5s;
                        transition: all ease-out 0.5s;
                        margin-left: 50%;
                        width: 100%;
                    }

                    a.nav-link {
                        font-size: 0.9rem;
                        color: $secondary;
                        font-weight: 400;
                    }
                }
                li.nav-item.active {
                    color: $primary-600;

                    &::after {
                        @include sidebar-background-pink();
                    }

                    a.nav-link {
                        color: $primary-600;
                        font-weight: 500;
                    }
                }

                li.nav-item:hover {
                    color: $primary-500;
                    a.nav-link {
                        color: $primary-500;
                    }

                    &::after {
                        margin-left: 0;
                        opacity: 100%;
                        @include sidebar-background-pink();
                    }
                }
            }
        }
        .sidebar-footer {
            position: fixed;
            display: block;
            bottom: 1rem;
            width: calc($sidebar-width - 2rem);
        }
    }

    // Navbar
    &.navbar {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: #fff;
        position: relative;
        z-index: 11;

        .nav-left {
            width: 50%;

            p {
                color: $secondary;
                font-size: 0.8rem;
                font-weight: 500;
            }
            h1 {
                color: $primary;
                font-size: 1.5rem;
            }
        }
        .nav-right {
            width: 50%;
            order: 2;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1.25rem;

            .search,
            .notification {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: #e5e9f2;
                cursor: pointer;
                border-radius: 100%;
                width: 2rem;
                height: 2rem;
            }

            .user {
                margin: 0 2.5rem 0 1.5rem;

                img {
                    width: 46px;
                    border-radius: 100%;
                }
            }
        }
    }

    &.category-bar {
        position: fixed;
        top: 5.5rem;
        right: 0.15rem;
        width: $categorybar-width;
        height: 80vh;
        background-color: white;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;

        h1 {
            color: $primary;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

// Main
main {
    margin-left: $sidebar-width;
}

// Content
.content {
    margin-right: 13.5rem;
    padding: 1rem;
}
