@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }
    &:active {
        background: darken($bg, 25%);
    }
}

.btn {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.9rem;
    border: none;
    line-height: 32px;
    min-width: 32px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    padding: 0 16px;
    vertical-align: middle;
}

.btn-transparent {
    @include button-bg(transparent);
    color: black;
}

.btn-primary {
    @include button-bg($primary-500);
}
